*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    padding: 0;
    background-color: rgb(164, 239, 227);
  }

  h1 {

    padding-bottom: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 0.1rem;
    padding-top: 1rem;
    color: rgb(78, 72, 107);
    display: flex;
    justify-content: center;
    
  
   }

    .container {
    width: 70%;
    margin: 150px auto;
    background-color: rgb(149, 208, 208);
    padding: 100px;
    display: grid;
    justify-content: center;

   } 

.choiceBtn{
    margin-top: 15px;
    margin-left: 0px;
    cursor: pointer;
    font-size: 25px;
    width: 200px;
    padding: 1rem;
    color: rgb(13, 15, 13);
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    background: rgb(25, 155, 152);
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}

h3 {
  font-size: 1.30em;
  margin-block-start: 2em;
  font-weight: bold;
}

/* .playerCount{
  color: blueviolet;
} */